
* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans';
}

.title {
  font-size: xx-large;
  text-align: center;
}

.sub-title {
  font-size: large;
  margin-top: 0.8em;
  text-align: center;
}

.acronym {
  /*color: blue;*/
  /*font-weight: bold;*/
  color: #555;
  text-shadow: 0 0 2px #00f;
}

.non-acronym {
  color: #888;
}

.resources {
  font-size: small;
  margin-top: 1em;
  text-align: center;
}

.resources > div {
  /*float: left;*/
  display: inline-block;
}

.resources a,
.resources a:active,
.resources a:link,
.resources a:visited {
  color: #008;
  text-decoration: none;
}

.resources a:hover {
  color: #008;
  text-decoration: underline;
}

.social {
  margin-top: 0.5em;
  text-align: center;
}

.bedizened-def {
  font-size: small;
  margin-top: 1em;
  text-align: center;
}

.bullets {
  font-size: small;
  margin-top: 0.3em;
  text-align: center;
}

.bullets span {
  margin: 0 1em;
}

.bullets span::before {
  content: "• ";
}

.body {
  margin-top: 1em;
  width: 100%;
}

.body > div {
  display: inline-block;
  float: left;
  margin: 0 2%;
  width: 46%;
}

.header {
  font-weight: bold;
  text-align: center;
}

textarea {
  width: 100%;
}

textarea.output:not(.has-error) {
  border: 1px solid #0f0;
}

textarea.output.has-error {
  border: 1px solid red;
  color: red;
}

/*.json-output {
  border: 1px solid gray;
  padding: 0.5em;
}
*/