
body {
    font-family: 'Helvetica Neue';
}

#rocket-table {
    left: 0;
    position: absolute;
    width: 100%;
    top: 312px; /* For top timeline. */
}

.timeline-container {
    margin-top: 4px;
    position: absolute;
    width: 50%;
    top: 0px;
}

.timeline-title {
    color: #666666;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: bold;
    /*margin: 8px 0;*/
    text-align: center;
    /*position: absolute;*/
    width: 100%;
    /*bottom: 200px;*/
}

.timeline-chart {
    margin-top: 8px;
    height: 246px;
    position: absolute;
    width: 820px;
}

#payload-timeline-container {
    position: absolute;
    left: 50%;
}

#retiree-separator {
    opacity: 0;
    position: absolute;
    top: -60px;
}

/*#legend {
    border: 1px solid gray;
    right: 40px;
    position: absolute;
    bottom: 40px;
    width: 480px;
}*/

#orbit-container {
    position: absolute;
    right: 0;
    top: 0;
}

#orbit-bar-chart {
    background: white;
    height: 300px;
    width: 840px;
    z-index: 100;
}
